.masonry-grid{
  column-count: 4;
  /* column-gap: .5em; */
  /* max-width: 980px; */
  margin: auto;
  width: 100%;
}
/* @media (min-width: 1200px) {
    .masonry-grid {
        column-count: 4;
    }
}

@media(min-width: 800px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media(max-width: 800px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media(max-width: 600px) {
    .masonry-grid {
        column-count: 2;
    }
} */

@media screen and (min-width: 320px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media screen and (min-width: 481px) {

    .masonry-grid {
        column-count: 3;
    }
}

@media screen and (min-width: 641px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media screen and (min-width: 961px) {

    .masonry-grid {
        column-count: 3;
    }
}


@media screen and (min-width: 1025px) {

    .masonry-grid {
        column-count: 3;
    }
}

@media screen and (min-width: 1281px) {
    .masonry-grid {
        column-count: 5;
    }
}

@media screen and (min-width: 1681px) {
    .masonry-grid {
        column-count: 6;
    }
}