.item{
     display: inline-block;
     background: #fff;
     /* padding: 1em; */
     margin: 0 0 0.5em;
     width: auto;
     -webkit-transition:1s ease all;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-shadow: 2px 2px 4px 0 #ccc;
}

img{
  height: auto;
  width:320px;
  /* max-width: 100%; */
}

@media screen and (min-width: 320px) {
  img {
    width: 180px;
  }
}

@media screen and (min-width: 481px) {

  img {
    width: 190px;
  }
}

@media screen and (min-width: 641px) {
  img {
    width: 250px;
  }
}

@media screen and (min-width: 961px) {

  img {
    width: 300px;
  }
}


@media screen and (min-width: 1025px) {

  img {
    width: 360px;
  }
}

@media screen and (min-width: 1281px) {
  img {
    width: 315px;
  }
}
@media screen and (min-width: 1481px) {
  img {
    width: 320px;
  }
}

@media screen and (min-width: 1681px) {
  img {
    width: 300px;
  }
}